<h2><%= @sidewalk.name %></h2>

<div id="app" data-sidewalk=<%= Poison.encode!(@sidewalk) %>></div>

<%= link "Edit", to: sidewalk_path(@conn, :edit, @sidewalk) %>
<%= link "Back", to: sidewalk_path(@conn, :index) %>
